<!-- We include the sidebar as it is shared across two screens. -->

<ng-include src="'partials/dinner-sidebar.html'" ng-controller="DinnerCtrl"></ng-include>
<br>
<input ng-model="query"/>
<button ng-click="search(query)">Find</button>
{{status}}
<ul>
 <li ng-repeat="dish in dishes">
 <img ng-src="{{dish.ImageURL120}}"/>
 {{dish.Title}}
 <a ng-href="#/dish/{{dish.RecipeID}}">View more</a>
 {{dish.Category}} {{dish.Subcategory}}
 &nbsp&nbsp&nbsp
 <button ng-click="addDishToMenu(dish)">Add to Menu</button>
  &nbsp&nbsp&nbsp

  {{isDishAdded(dish.RecipeID)?"Dish added":""}}

 </li>
</ul>


